<div id="artTop">
        <a class="logo" href="" ng-click="scrollTo('.art0')"><img src="/app/img/logo.png" width="60" height="60"/></a>
</div>
<br><br><br><br><br>

Mon contenu sera ici avec {{message}} ma page:{{page}}
<br><br><br><br>
Mon contenu sera ici avec {{message}}
<br><br><br><br><br>
<br><br><br><br><br>
Mon contenu sera ici avec {{message}}
<br><br><br><br>
Mon contenu sera ici avec {{message}}
<br><br><br><br><br>
<br><br><br><br><br>
Mon contenu sera ici avec {{message}}
<br><br><br><br>
Mon contenu sera ici avec {{message}}
<br><br><br><br><br>
<br><br><br><br><br>
Mon contenu sera ici avec {{message}}
<br><br><br><br>
Mon contenu sera ici avec {{message}}
<br><br><br><br><br>
<slider></slider>
<art-footer></art-footer>