<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
<header class="main_h">
<link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
    <div class="row">
        <a class="logo" href="#">P/F</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href=".sec01" ng-click="scrollTo(sec01)">Section 01</a></li>
                <li><a href="" ng-click="scrollTo(id)">Section 01 ancre </a></li>
                <li><a href="#sec01" ng-click="scrollTo(id)">Section 01 browser ancre </a></li>



                <li><a href=".sec02">Section 02</a></li>
                <li><a href=".sec03">Section 03</a></li>
                <li><a href=".sec04">Section 04</a></li>
            </ul>
        </nav>

    </div> 
</header>
<!-- <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!-- / row -->

