<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
<header class="main_h">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
    <div class="row artTop" id="artTop">
        <a class="logo" href="" ng-click="scrollTo('.art0')"><img src="/app/img/logo.png" width="60" height="60"/></a>

        <div class="mobile-toggle" ng-click="mobileClick()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li> <a href="" ng-click="scrollTo('.sec01')" class="nav-a-slider15">Art et Guinguette</a> </li>
                <li><a href="" ng-click="scrollTo('.sec02')" class="nav-a-slider13">Contact </a></li>
                <li> <a href="" ng-click="scrollTo('.sec03')" class="nav-a-slider17">Agenda</a> </li>     
            </ul>
        </nav>

    </div> 
    <span class="nv"></span>
</header>
<!-- / row -->

